@{
    ViewBag.Title = "Home Page";
    var assembly = System.Reflection.Assembly.GetExecutingAssembly();
   
    string version = assembly.GetName().Version.ToString();
}

<div class="jumbotron">
    <h1>Test web app</h1>
    <p class="lead">Some test content</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">and link &raquo;</a></p>
    <p>test check-in</p>
    <p>Assembly version: @version</p>
</div>  